PineconeDocumentLoaderRAG.json
{
  "name": "PineconeDocumentLoaderRAG",
  "nodes": [
    {
      "parameters": {},
      "id": "91ffa0b9-cbe2-4db3-a207-eea3e369cad5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7f17f95b-18c6-4e9c-b9b7-e134e791df25",
      "name": "Get Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xf33t0ZWSru0ropr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6083ac8b-4e05-4b73-843a-fcdace0023ef",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "6c5c9779-d8c9-4009-8cb7-945a7a1a5ca6",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "credentials": {
        "openAiApi": {
          "id": "3TsGnGqK0vnVBx0A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "7c302520-e2cb-4208-be61-8f5b9a5512bf",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1008,
        -128
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "e96f1db7-9e4d-4bdd-b38c-c874df851ce2",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1312,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nindex01",
          "mode": "list",
          "cachedResultName": "n8nindex01"
        },
        "options": {
          "pineconeNamespace": "komatsudb01"
        }
      },
      "id": "e4082caa-631f-40e1-81fb-8d20b22a7faa",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "9VZyOuzFmXfqBrTo",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1K8eo-wS_niIP74kUYlVEI8BThNkB807A",
            "mode": "list",
            "cachedResultName": "RAGfiles",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1K8eo-wS_niIP74kUYlVEI8BThNkB807A"
          }
        },
        "options": {}
      },
      "id": "5d747d7d-3aa4-49b1-b077-f5aa3ab0e80c",
      "name": "Search files and folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xf33t0ZWSru0ropr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# DOCUMENT LOADER RAG ",
        "height": 80,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -352
      ],
      "id": "23abe0d5-7a17-4b00-8484-555329dd0938",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47decc2d-e9e6-4bba-a90a-b0415eb76ebc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecbed32cad2b66c00e138d03b022f2564ba6d7ea16c5bf3aa8a2d043e11e32b4"
  },
  "id": "XrSa8CaswGCMOzFH",
  "tags": []
}